html {
	
}
body {
	font: normal 0.9em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
code {
	font-size: 1.2em;
	border: 1px solid #CCC;
	padding: 2px;
}
a {
	color: #718c00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
span {
	font-family: monospace;
	line-height: 1.1em;
}
.fullscreen {
	width: 100%;
	height: 100%;
}
.nowrap {
	width: 95%;
}